<div class="container">
  <div class="row">
    <!--部分テンプレート：User_info-->
    <%= render 'user_info',user: @user%>
    <!--部分テンプレート：Books_lists-->
    <%= render 'books/books_lists',books: @books%>
  </div>
</div>
