<!--Bookのindexページ-->
<div class="container">
    <!--新規投稿時のバリデーションによるエラーメッセージ-->
        <div id="error_explanation">
          <% if @book.errors.any? %>
          <h3><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
            <% end %>
        </div>
  <div class="row">
    <!--部分テンプレート:user_info-->
    <%= render 'users/user_info',user: @user %>
    <!--部分テンプレート:books_lists-->
    <%= render 'books_lists',books: @books %>
  </div>
</div>
